<div class="outer-cont ">
  <div class="wrapper">
                        <h1>Our Services Are</h1>
                        <div class="cols">
                          <div class="col" ontouchstart="this.classList.toggle('hover');">
                            <div class="container">
                              <div class="front" style="background-image: url(https://source.unsplash.com/_OZCl4XcpRw)">
                                <div class="inner">
                                  <p>Courses</p>
                                  <span>Read More</span>
                                </div>
                              </div>
                              <div class="back">
                                <div class="inner">
                                  <p>We offer your kid multiple free courses and a library to save them.</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col" ontouchstart="this.classList.toggle('hover');">
                            <div class="container">
                              <div class="front" style="background-image: url(https://source.unsplash.com/7fF0iei80AQ)">
                                <div class="inner">
                                  <p>Teachers</p>
                                  <span>Read More</span>
                                </div>
                              </div>
                              <div class="back">
                                <div class="inner">
                                  <p>We offer the experts to post their courses in our academy. </p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col" ontouchstart="this.classList.toggle('hover');">
                            <div class="container">
                              <div class="front" style="background-image: url(https://source.unsplash.com/8Gdayy2Lhi0)">
                                <div class="inner">
                                  <p>Games</p>
                                  <span>Read More</span>
                                </div>
                              </div>
                              <div class="back">
                                <div class="inner">
                                  <p>We offer your kid multiple games to play after the studies.</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col" ontouchstart="this.classList.toggle('hover');">
                            <div class="container">
                              <div class="front" style="background-image: url(https://source.unsplash.com/Fwxedo4Gz84)">
                                <div class="inner">
                                  <p>Security</p>
                                  <span>Read More</span>
                                </div>
                              </div>
                              <div class="back">
                                <div class="inner">
                                  <p>We assure your kid's security when he's in E-Kids.</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col" ontouchstart="this.classList.toggle('hover');">
                            <div class="container">
                              <div class="front"style="background-image: url(https://source.unsplash.com/Y5bvRlcCx8k)">
                          <div class="inner">
                              <p>Support</p>
                <span>Read More</span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <p>You can always approach us when there is a problem or a question.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
   </div>
   </div>
