<div class="outer-cont ">
    <h1>WELCOME TO E-KIDS</h1>
    <div class="container">
          <div id="carousel">
              <figure><img src="assets/IM2.jpg" width="200" height="200"></figure>
              <figure><img src="assets/IM3.jpg" width="200" height="200"></figure>
              <figure><img src="assets/IM4.PNG" width="200" height="200"></figure>
              <figure><img src="assets/2.png" width="200" height="200"></figure>
              <figure><img src="assets/1.png" width="200" height="200"></figure>
              <figure><img src="assets/IM6.jpg" width="200" height="200"></figure>
              <figure><img src="assets/IM7.jpg" width="200" height="200"></figure>
              <figure><img src="assets/3 .png" width="200" height="200"></figure>
              <figure><img src="assets/4.png" width="200" height="200"></figure>
          </div>
      </div>
    </div>
